/Design Patterns/FactoryDesignPattern/nbproject/private/
/Design Patterns/FactoryDesignPattern/build/
/Design Patterns/New Folder/JavaApplication14/nbproject/private/
/Design Patterns/SingletonDesignPAttern/nbproject/private/
/Design Patterns/SingletonDesignPattern/DBConnection/nbproject/private/
/Design Patterns/SingletonDesignPattern/DBConnection/build/
