/Design Patterns/FactoryDesignPattern/nbproject/private/
/Design Patterns/FactoryDesignPattern/build/
/Design Patterns/New Folder/JavaApplication14/nbproject/private/
/Design Patterns/SingletonDesignPAttern/nbproject/private/
/Design Patterns/SingletonDesignPattern/DBConnection/nbproject/private/
/Design Patterns/SingletonDesignPattern/DBConnection/build/
/letters/nbproject/
/Design Patterns/SingletonDesignPattern/Apriori/nbproject/private/
/Design Patterns/SingletonDesignPattern/Apriori02/nbproject/private/
/Design Patterns/SingletonDesignPattern/Apriori02/build/
/Articulation Points Search/ArticulationPointsFinder/nbproject/private/
/Articulation Points Search/ArticulationPointsFinder/build/
/Articulation Points Search/ocatraining/nbproject/private/
/Articulation Points Search/ocatraining/build/
/Articulation Points Search/rentacar/nbproject/private/
/Microservices/JavaApplication26/nbproject/private/
/Microservices/JavaApplication26/build/
/Microservices/ElecBill/nbproject/private/
/Microservices/ElecBill/build/
/Microservices/test/nbproject/private/
/Microservices/test/build/
